* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v134_176 {
  width: 100%;
  height: 530px;
  background: url("../images/v134_176.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v134_177 {
  width: 100%;
  height: 501px;
  background: rgba(119,2,54,1);
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 112px;
  overflow: hidden;
}
.v134_178 {
  width: 257px;
  height: 340px;
  background: url("../images/v134_178.png");
  opacity: 1;
  position: absolute;
  top: 190px;
  left: 0px;
  border: 1.5px solid rgba(255,255,255,0.10000000149011612);
}
.v134_179 {
  width: 394px;
  height: 401px;
  background: url("../images/v134_179.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1859px;
  border: 1.5px solid rgba(255,255,255,0.10000000149011612);
}
.v134_180 {
  width: 100%;
  height: 66px;
  background: url("../images/v134_180.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 436px;
  left: 309px;
  overflow: hidden;
}
.v134_181 {
  width: 556px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 32px;
  left: 1px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v134_182 {
  width: 152px;
  height: 38px;
  background: url("../images/v134_182.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 1348px;
  overflow: hidden;
}
.v134_183 {
  width: 38px;
  height: 38px;
  background: url("../images/v134_183.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v134_184 {
  width: 38px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v134_185 {
  width: 9px;
  height: 17px;
  background: rgba(119,2,54,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 14px;
}
.v134_186 {
  width: 38px;
  height: 38px;
  background: url("../images/v134_186.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 57px;
  overflow: hidden;
}
.v134_187 {
  width: 38px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v134_188 {
  width: 17px;
  height: 15px;
  background: rgba(119,2,54,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 10px;
}
.v134_189 {
  width: 38px;
  height: 38px;
  background: url("../images/v134_189.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 114px;
  overflow: hidden;
}
.v134_190 {
  width: 38px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v134_191 {
  width: 18px;
  height: 16px;
  background: rgba(119,2,54,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 10px;
}
.v134_192 {
  width: 100%;
  background: url("../images/v134_192.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(255,255,255,0.10000000149011612);
}
.v134_193 {
  width: 358px;
  height: 312px;
  background: url("../images/v134_193.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 57px;
  left: 309px;
  overflow: hidden;
}
.v134_194 {
  width: 227px;
  height: 227px;
  background: url("../images/v134_194.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 27px;
  overflow: hidden;
}
.v134_195 {
  width: 358px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 188px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v134_196 {
  width: 291px;
  height: 207px;
  background: url("../images/v134_196.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 135px;
  left: 798px;
  overflow: hidden;
}
.v134_197 {
  width: 189px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Cormorant;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v134_198 {
  width: 283px;
  height: 32px;
  background: url("../images/v134_198.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 73px;
  left: 0px;
  overflow: hidden;
}
.v134_199 {
  width: 242px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 41px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v134_200 {
  width: 21px;
  height: 30px;
  background: rgba(215,130,186,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v134_201 {
  width: 291px;
  height: 31px;
  background: url("../images/v134_201.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 125px;
  left: 0px;
  overflow: hidden;
}
.v134_202 {
  width: 250px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 41px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v134_203 {
  width: 24px;
  height: 18px;
  background: url("../images/v134_203.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  overflow: hidden;
}
.v134_204 {
  width: 24px;
  height: 15px;
  background: rgba(215,130,186,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
}
.v134_205 {
  width: 24px;
  height: 9px;
  background: rgba(215,130,186,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v134_206 {
  width: 210px;
  height: 31px;
  background: url("../images/v134_206.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 176px;
  left: 0px;
  overflow: hidden;
}
.v134_207 {
  width: 169px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 41px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v134_208 {
  width: 24px;
  height: 24px;
  background: rgba(215,130,186,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
}
.v134_209 {
  width: 180px;
  height: 208px;
  background: url("../images/v134_209.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 135px;
  left: 1189px;
  overflow: hidden;
}
.v134_210 {
  width: 156px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Cormorant;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v134_211 {
  width: 180px;
  color: url("../images/v134_211.png");
  position: absolute;
  top: 72px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v134_212 {
  width: 320px;
  height: 138px;
  background: url("../images/v134_212.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 135px;
  left: 1488px;
  overflow: hidden;
}
.v134_213 {
  width: 155px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Cormorant;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v134_214 {
  width: 320px;
  height: 55px;
  background: url("../images/v134_214.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 83px;
  left: 0px;
  overflow: hidden;
}
.v134_215 {
  width: 55px;
  height: 55px;
  background: url("../images/v134_215.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 265px;
  overflow: hidden;
}
.v134_216 {
  width: 55px;
  height: 55px;
  background: rgba(215,130,186,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v134_217 {
  width: 12px;
  height: 12px;
  background: url("../images/v134_217.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 22px;
  overflow: hidden;
}
.v134_218 {
  width: 12px;
  height: 12px;
  background: url("../images/v134_218.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v134_219 {
  width: 12px;
  background: url("../images/v134_219.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  border: 1.7999999523162842px solid rgba(255,255,255,1);
}
.v134_220 {
  width: 6px;
  height: 12px;
  background: url("../images/v134_220.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 6px;
  border: 1.7999999523162842px solid rgba(255,255,255,1);
}
.v134_221 {
  width: 265px;
  height: 55px;
  background: url("../images/v134_221.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v134_222 {
  width: 265px;
  height: 55px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v134_223 {
  width: 100px;
  color: rgba(196,196,196,1);
  position: absolute;
  top: 12px;
  left: 23px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
